@import '../../vars.scss';

.main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: $header-bg;
  min-height: 85vh;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
}
