@import '../../vars';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 30px;
  background-color: $header-bg;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;

  &__logo {
    width: 140px;
    height: 46px;
  }
}
